/* Responsivo para tablets */
@media screen and (min-width: 580px) and (max-width: 750px){
    header h1{
        font-size: 2.2em;
    }
    
    .imagens{
        max-width: 450px;
    }

    .foto1{
        display: block;
        margin: auto;
    }

    .legenda{
        font-size: 0.8em;
    }

    section{
        max-width: 600px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1400px){
    header h1{
        font-size: 2.2em;
        padding: 15px;
    }

    .logo1{
        max-width: 70px;

    }

    .logo2{
        max-width: 60px;
        max-height: 90px;
    }

    main{
        height: 100%;
        padding-bottom: 10px;
    }

    /* menu{
        display: block;
    }

    #burguer{
        display: none;
    } */

    .imagens{
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin: 50px 50px;
        margin-top: 6px;
        margin-bottom: 5px;
    }

    .foto1{
        max-width: 250px;
    }

    .grupo-foto2{
        display: flex;
        flex-direction: column;
    }

    .foto2{
        max-width: 320px;
        max-height: 290px;
    }


    section{
        max-width: 750px;
        max-height: 350px;
    }

    .descricao{
        max-height:350px ;
    }
    
}