/* Responsivo para tablets */
@media screen and (min-width: 580px) and (max-width: 655px){
    header h1{
        font-size: 2.2em;
    }
    
    .imagens{
        max-width: 450px;
    }

    .legenda{
        font-size: 0.8em;
    }

    section{
        max-width: 600px;
    }
}

@media screen and (min-width: 655px) and (max-width: 1400px){
    header h1{
        font-size: 2.2em;
        padding: 15px;
    }

    .logo1{
        max-width: 70px;

    }

    .logo2{
        max-width: 60px;
        max-height: 90px;
    }

    main{
        height: 100%;
    }

    /* menu{
        display: block;
    }

    #burguer{
        display: none;
    } */

    .imagens{
        display: flex;
        flex-direction: column;
        
    }

    .foto1{
        max-width: 350px;
    }

    .foto2{
        display: block;
        text-align: center;
        max-width: 350px;
        max-height: 280px;
    }

    .legenda-foto2{
        display: block;
        text-align: center;
    }

    section{
        max-width: 750px
    }

}